body {
  /*  оптимальный для чтения размер стандартных шрифтов */
  font-size: 18px;
}
h1,
h2 {
  /* // неагрессивное выделение заголовков */
  font-weight: bold;
}
h1,
h2,
p {
  /* //Высота линии - ~150% от размера текущего шрифта */
  line-height: 1.5em;
  /* //маржины = размер текущего шрифта */
  margin: 1em 0;
}

h1 {
  /* // При заголовках двух уровней заголовок h1 равен размеру шрифта х 2 */
  font-size: clamp(14px, 5vw, 2rem);
}

h2 {
  /* // заголовок h2 - соответственно, ~150%. */
  /* // При большем количестве заголовков их размеры вычисляются прибавлением ~50% */
  /* //Т.е. при трех будет ~150%, ~200% и ~250%. */
  font-size: 1.5rem;
}
p {
  /* // обычный текст выравнивается исключительно по левому краю */
  text-align: left;
  /* // отступ абзаца. Обычно равен ~ одному символу. */
  text-indent: 1em;
  margin: 0 auto;
  font-size: 1rem;
  /* // перенос слов по словарю. На данный момент поддержка браузерами оставляет желать лучшего. */
  hyphens: auto;
}
.text {
  display: block;
  max-width: 40em;
  /* //Текстовые блоки не более 45-65 символов в ширину. Будет одинаково хорошо читаться на экранах разных размеров */
  margin: 0 auto;
}
